# dependencies
node_modules/

# frontend build
dist/
build/

# backend build
lib/

# firebase
.firebase/
google-cloud-sdk/

# env / local files
.env
cloud_env.bat

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
